pyspark==3.4.1
pyarrow==14.0.2
numpy==1.26.4
pandas==2.0.3
streamlit==1.50.0
altair==5.5.0
sqlalchemy==1.4.54
psycopg2-binary==2.9.11
apache-airflow==3.1.0
apache-airflow-providers-standard==1.9.0
pendulum==3.1.0